<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:name=".BamBooApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BamBoo"
        tools:targetApi="31">
        <activity
            android:name=".presentation.view.notifyView.MainAppointmentNotify"
            android:exported="false"
            android:label="@string/title_activity_main_appointment_notify"
            android:theme="@style/Theme.BamBoo" />
        <activity
            android:name=".presentation.view.MainNotifyAppointment"
            android:exported="false"
            android:label="@string/title_activity_main_notify_appointment"
            android:theme="@style/Theme.BamBoo" />
        <activity
            android:name=".presentation.view.notifyView.MainNotifyMedication"
            android:exported="false"
            android:launchMode="singleTask"
            android:showWhenLocked="true"
            android:theme="@style/Theme.BamBoo"
            android:turnScreenOn="true" />
        <activity
            android:name=".presentation.navigation.MainNavController"
            android:exported="true"
            android:theme="@style/Theme.BamBoo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".domain.notifications.medication.AlarmReceiver"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" />
        <receiver
            android:name=".domain.notifications.appointment.AlarmAppointmentReceiver"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" />
    </application>

</manifest>